/* General Styles */

h1,
h2,
h3 {
    font-family: 'Teko';
}

a {
    text-decoration: none;
}

a:hover,
a:active,
a:visited {
    border:  none;
    color: initial;
}

/* Header Styles */

header {
    height: 60px;
    width: 100%;
    background-color: #3C7A89;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.825rem;
}

header .logo {
    font-family: 'Teko';
    font-size: 2rem;
}

.header-opt-container {
    display: flex;
    justify-content: space-evenly;
}

.header-opt {
    font-size: 1.5rem;
    padding: 0 1rem;;
}


/* Banner Styles */

.banner {
    height: 20rem;
    width: 100%;
    background-color: #A7A7A7;
    display: flex;
    align-items: center;
}

.banner-strip {
    height: 8rem;
    width: 100%;
    background-color: #2E4756;
    color: #A1C2CF;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 1rem;
}

.banner-strip h2 {
    font-size: 2.5rem;
}

.banner-strip h3 {
    font-size: 2rem;
}