/* General Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Teko';
}

a {
    text-decoration: none;
}

a:hover,
a:active,
a:visited {
    border:  none;
    color: initial;
}

/* Header Styles */

header {
    position: fixed;
    z-index: 5;
    height: 3.75rem;
    width: 100%;
    background-color: #3C7A89;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.825rem;
}

header .logo {
    font-family: 'Teko';
    font-size: 2rem;
}

.header-opt-container {
    display: flex;
    justify-content: space-evenly;
}

.header-opt {
    font-size: 1.5rem;
    padding: 0 1rem;;
}


main {
    position: relative;
    top: 3.75rem;
}

/* Banner Styles */

.banner {
    height: 20rem;
    width: 100%;
    background-color: #A7A7A7;
    display: flex;
    align-items: center;
    background-image: url('/resources/images/banner-background.jpg');
    background-repeat: none;
    background-size: cover;
}

.banner-strip {
    height: 8rem;
    width: 100%;
    background-color: #2E4756;
    color: #A1C2CF;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 1rem;
}

.banner-strip h2 {
    font-size: 2.5rem;
}

.banner-strip h3 {
    font-size: 2rem;
}

/* About Me Styles */

.about-me {
    background-color: #A1C2CF;
    width: 100%;
    height: auto;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

.about-me h2 {
    font-size: 2rem;
}

#about-text-container {
    flex: 0 0 75%;
}

#about-me-text {
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    font-size: 1.25rem;
}

#about-me-text p:not(:first-child) {
    padding-top: 1rem;
}

#image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#image img {
    max-height: 85%;
    max-width: 85%;
    margin: auto;
}

#image h3 {
    text-align: center;
    font-size: 2rem;
}

/* Project Styles */

.projects {
    width: 100%;
    background-color: #2E4756;
    height: 25rem;
    padding: 1rem;
}

.projects h2 {
    color: #A1C2CF;
    font-size: 2rem;
    text-align: center;
}

.project-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-wrapper button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 7.5rem;
}

.project-arrow img {
    height: 100%;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
    justify-content: space-around;
}

.project {
    background-color: #16262E;
    color: #A1C2CF;
    flex: 0 1 17rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1rem;
}

.project h3 {
    font-size: 2rem;
}

.project-description {
    text-align: center;
    font-size: 1.25rem;
}

.project h4 {
    font-size: 1.75rem;
}

.project h5 {
    display: inline-block;
    font-size: 1.4rem;
}

.project a {
    color: #A1C2CF;
    font-size: 1.25rem;
}

/* Skills Styles */

.skills {
    height: 5.5rem;
    background-color: #3C7A89;
}

.skills ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/* Contact Me Styles */

.contact-me {
    padding: 0.825rem;
    background-color: #A1C2CF;
    display: flex;
    justify-content: space-between;
}

#my-info h2 {
    font-size: 2rem;
}

#my-info h3 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.info-list {
    margin-top: 2.5rem;
    font-size: 2rem;
}

.info-list td {
    padding-right: 2rem;
    padding-bottom: 1rem;
}

#contact-form {
    margin-right: 4rem;
    font-family: 'Teko';
    font-size: 2rem;
}

#contact-form form{
    display: grid;
    grid-template: 1.825rem 1.825rem 1.825rem 5rem 2.5rem/ 9rem 20rem;
    gap: 0.5rem 0;
}

.form-row1 {
    grid-row: 1 / 2;
}

.form-row2 {
    grid-row: 2 / 3;
}

.form-row3 {
    grid-row: 3 / 4;
}

.form-row4 {
    grid-row: 4 / 5;
}

.form-row5 {
    grid-row: 5 / 6;
}

.form-col2 {
    grid-column: 2/3;
}

input[type="text"] {
    background-color: transparent;
    border: 2px #2E4756 solid;
    border-radius: 0;
}

input[type=text]:focus {
    outline: none;
}

input[type=submit] {
    width: 50%;
    justify-self: center;
    background-color: #2E4756;
    color: #A1C2CF;
    font-family: 'Teko';
    font-size: 1.55rem;
    border: none;
}

input[type=submit]:active {
    background-color: #1c2c36;
}


/* Media Queries */

@media screen and (max-width: 900px) {
    .project:nth-child(2),
    .project:nth-child(3) {
        display: none;
    }

    .contact-me {
        justify-content: center;
    }

    #contact-form {
        display: none;
    }
}

@media screen and (max-width: 900) {

}

@media screen and (max-width: 1000px) {

    .about-me {
        flex-direction: column;
    }

    #image img {
        max-width: 25%;
    }
}

@media screen and (max-width: 1100px) {
/* 
    .project-container {
        flex-direction: column;
    } */

    .project-arrow {
        display: none;
    }
}